<h1>Recipe</h1>
<% Recipes.get_recipe(@recipe).each do |key,value| %>
<div>
  <h2><%= key %></h2>
  <p>URL: <%= value[:url] %></p>
  <% value[:meta].each do |key,value| %>
  <p><%= key %>: <%= value %></p>
  <% end %>
  
  <p>Description: <%= value[:description] %></p>
  <p>Ingredients:</p>
  <%= value[:ingredients] %>
  <p>Instructions:</p>
  <%= value[:instructions] %>
  <p>Notes: <%= value[:notes] %></p>
  <p>Keywords: <%= value[:keywords] %></p>
</div>

<% end %>
<h3>Try another one!</h2>

<%= erb :recipes_form %>